@font-face {
  font-family: "FTP";
  src: url(fonts/SQR721BI.TTF) format("truetype");
}
@font-face {
  font-family: "Maintext";
  src: url(fonts/verdana.ttf);
}
* {
  margin: 0px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 8vh 8vh auto auto auto 8vh;
  grid-template-areas:
    "header header header header"
    "rubrik rubrik rubrik rubrik"
    "main main main main"
    "main main main main"
    "main main main main"
    "footer footer footer footer";
  min-height: 100vh;
  row-gap: 3%;
  font-family: "Maintext";
}
.rubrik {
  grid-area: rubrik;
  text-align: center;
  display: grid;
  align-items: center;
}
.footer {
  grid-area: footer;
}
.main {
  display: grid;
  grid-area: main;
  grid-template-columns: repeat(
    auto-fit,
    400px
  ); /*I took this from a workshop*/
  gap: 3%;
  justify-content: center;
}

.pcontent {
  background-color: rgb(202, 202, 202);
  height: 400px;
  border-radius: 10px;
  box-shadow: 3px 3px 4px 1px rgba(2, 2, 2, 0.3);
  cursor: pointer;
}
.pcontent:hover {
  animation-name: expand;
  animation-duration: 200ms;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
@keyframes expand {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.04);
  }
}
.thumbnail {
  object-fit: cover;
  width: 400px;
  height: 400px;
  border-radius: 10px;
}
.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: ". edvin . menu menu .";
  box-shadow: 2px 2px 10px 2px rgba(2, 2, 2, 0.3);
}
.menu {
  grid-area: menu;
  display: flex;
  justify-content: space-around;
  height: 100%;
  align-items: center;
  font-weight: bolder;
}
.Edvin {
  grid-area: edvin;
  display: flex;
  height: 100%;
  align-items: center;
  font-family: "FTP";
}

#learn {
  color: black;
  font-weight: bold;
  font-size: 15px;
}
#menu {
  text-decoration: none;
  color: black;
}
.popup1 {
  background-color: rgba(255, 255, 255, 1);
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 7;
  visibility: hidden;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 8vh 600px 16vh;
  grid-template-areas:
    "rubrik1"
    "img"
    "des";
  justify-items: center;
  padding: 10%;
}
.openpopup1 {
  visibility: visible;
}
.rubrik1 {
  grid-area: rubrik1;
}
.img1 {
  display: grid;
  grid-area: img;
  width: 400px;
}
.popup2 {
  background-color: rgba(255, 255, 255, 1);
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 7;
  visibility: hidden;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 8vh 600px 16vh;
  grid-template-areas:
    "rubrik1"
    "img"
    "des";
  justify-items: center;
  padding: 10%;
}
.openpopup2 {
  visibility: visible;
}
.rubrik2 {
  grid-area: rubrik1;
}
.img2 {
  display: grid;
  grid-area: img;
  width: 400px;
}
.popup3 {
  background-color: rgba(255, 255, 255, 1);
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 7;
  visibility: hidden;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 8vh 600px 16vh;
  grid-template-areas:
    "rubrik1"
    "img"
    "des";
  justify-items: center;
  padding: 10%;
}
.openpopup3 {
  visibility: visible;
}
.rubrik3 {
  grid-area: rubrik1;
}
.img3 {
  display: grid;
  grid-area: img;
  width: 400px;
}
.popup4 {
  background-color: rgba(255, 255, 255, 1);
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 7;
  visibility: hidden;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 8vh 600px 16vh;
  grid-template-areas:
    "rubrik1"
    "img"
    "des";
  justify-items: center;
  padding: 10%;
}
.openpopup4 {
  visibility: visible;
}
.rubrik4 {
  grid-area: rubrik1;
}
.img4 {
  display: grid;
  grid-area: img;
  width: 400px;
}
.popup5 {
  background-color: rgba(255, 255, 255, 1);
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 7;
  visibility: hidden;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 8vh 600px 16vh;
  grid-template-areas:
    "rubrik1"
    "img"
    "des";
  justify-items: center;
  padding: 10%;
}
.openpopup5 {
  visibility: visible;
}
.rubrik5 {
  grid-area: rubrik1;
}
.img5 {
  display: grid;
  grid-area: img;
  width: 400px;
}
.des5 {
  grid-area: des;
  display: grid;
  margin-left: 20%; 
  margin-right: 20%;
}

@media only screen and (max-width: 450px) {
  .main {
    display: grid;
    grid-area: main;
    grid-template-columns: repeat(
      auto-fit,
      300px
    ); /*I took this from a workshop*/
    gap: 3%;
    justify-content: center;
  }
  .pcontent {
    background-color: rgb(202, 202, 202);
    height: 300px;
    border-radius: 10px;
  }
  .thumbnail {
    object-fit: cover;
    width: 300px;
    height: 300px;
    border-radius: 10px;
  }
}
